<!DOCTYPE html>
<html lang="en">
<head>
  <title>smartCat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
  <!-- Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/landing">
        <img src="/assets/smartCat_logo.png" class="navbar-brand" alt="smartCat logo">
        <h1>smartCat</h1>
      </a>
      <a href="/landing"><button method="POST" id="logout" class="btn">Logout</button></a>
    </nav>
  </header>
  <main>
    <div class="side-bar">
    </div>
    <div class="right-side">
      <div class="col-lg-10">
        <div class="new-task-area input-group">
          <input type="text" class="form-control" id="textbox" placeholder="Add a task..." aria-label="Add a task...">
          <span class="input-group-btn">
            <button class="btn btn-outline-success" id="add-new-task" method="POST" type="button">Add</button>
          </span>
        </div>
      </div>
      <div class="tasks-container">
        <h2>My Tasks</h2>
      </div>
    </div>
    </div>
  </main>
  <footer>
    <p>&copy 2018, smartCat</p>
  </footer>
</body>
</html>
