<!DOCTYPE html>
<html lang="en">
  <head>
    <title>smartCat</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <nav>
      <h1>Welcome to smartCat</h1>
      <button method="POST" id="logout"> Logout! </button>
    </nav>
</header>
  <body>
    <div class ='side-bar'>
      <img scr="people.png" height="100px" width="100px">
      <h4>Meghn Markle</h4>
      <button method="POST" id="edit-profile"> Edit </button>
    </div>
    <div class ='new-task-area'>
      <button id="add-new-task" method="POST"> + </button>
      <textarea>Some new task to be entered</textarea>
    </div>
    <div class="tasks-container">
      <div class="task-field">
      <p>Watch : Harry Potter</p>
      <button method='POST' class="category"> Edit</button>
    </div>
      <div class="task-field">
      <p>Watch : Suits</p>
      <button method='POST' class="category"> Edit</button>
    </div>
  </div>
<footer>Copyright lol</footer>
  </body>
</html>